/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1550px) {
	.title-section {
		font-size: 35px;
		line-height: 45px;
	}
	.image-about img {
		max-width: 320px;
	}
	.about-text {
		padding: 14px 20px;
	}
	.item-category__name {
		font-size: 18px;
	}
	.item-structure {
		padding-left: 37px;
	}
	.structure {
		padding-bottom: 70px;
	}
	.image-about {
		margin-top: -128px;
	}
	.item-category__image {
		height: 455px;
	}
	.special-about {
		max-width: 282px;
	}
	.special-about__title {
		font-size: 27px;
		line-height: 37px;
	}
	.special-about__value {
		font-size: 44px;
		line-height: 53px;
	}
	.special-about__value span {
		font-size: 35px;
	}
	.billbord {
		padding-top: 157px;
		height: 717px;
	}
	.video-main {
		transform: scale(0.9);
		transform-origin: 100% 25%;
	}
	.phone-main {
		font-size: 14px;
	}
	.about .row_about {
		margin-top: 60px;
	}
	.sertificat-about {
		margin-left: 33px;
	}
}
@media only screen and (max-width : 1420px) {
	.title-section {
		font-size: 32px;
		line-height: 42px;
	}
	.title-section strong {
		font-size: 36px;
	}
	.video-main__cirle1,
	.video-main__cirle2,
	.video-main__image {
		transform-origin: 0;
		transform: scale(0.9);
	}
	.special-about {
		max-width: 260px;
		min-height: 450px;
	}
	.special-about__title {
		font-size: 24px;
		line-height: 30px;
	}
	.special-about__value {
		font-size: 39px;
		line-height: 51px;
	}
	.special-about__value span {
		font-size: 29px;
	}
	body {
		font-size: 14px;
	}
	.special-about p {
		margin-bottom: 12px;
		line-height: 22px;
	}
	.item-category__image {
		height: 411px;
	}
	.image-structure {
		transform: scale(0.95);
		transform-origin: 0;
	}
	.item-catalog__image {
		height: 280px;
	}
	.income__head {
		margin-bottom: 20px;
	}
	.image-income {
		margin-bottom: -56px;
	}
	.income .block-form_page {
		margin-bottom: 15px;
	}
	.special-income {
		padding: 47px 20px;
		font-size: 16px;
		line-height: 23px;
		width: 331px;
	}
	.special-income span {
		font-size: 19px;
		line-height: 28px;
	}
	.block-form {
		padding-left: 45px;
		padding-right: 45px;
	}
	.block-form_page {
		padding-left: 30px;
		padding-right: 30px;
	}
	.billbord {
		background-position: right 35% center;
	}
	.income_about .special-income {
		padding-left: 40px;
		padding-right: 40px;
	}
	.sertificat-about {
		max-width: 290px;
	}
	.income_about .block-form {
		margin-left: 40px;
		float: none;
	}
	.delivery-block {
    font-size: 22px;
    line-height: 34px;
}
}
@media only screen and (max-width : 1300px) {
	.special-income {
		width: 310px;
	}
	.image-income {
		transform-origin: 100% 100%;
		transform: scale(0.8);
	}
	.title-section {
		font-size: 29px;
		line-height: 40px;
	}
	.title-section strong {
		font-size: 32px;
	}
	.logo-min {
		margin-right: 19px;
	}
	.client-category__name {
		font-size: 18px;
		left: 35px;
		right: 35px;
	}
	.title-text {
		font-size: 19px;
		line-height: 26px;
	}
	.item-catalog__content {
		padding: 15px;
	}
	.item-catalog__name {
		font-size: 17px;
		line-height: 25px;
		margin-bottom: 10px;
	}
	.item-catalog__image {
		height: 240px;
	}
	.image-structure {
		transform: scale(0.87);
	}
	.structure {
		padding-top: 80px;
	}
	.item-category__image {
		height: 365px;
	}
	.col-lg-3 .item-category__name {
		max-width: 240px;
	}
	.about .row_about {
		margin-left: -30px;
		margin-right: 20px;
		margin-top: 0;
	}
	.video-main__icon {
		left: -66px;
	}
	.video-main__text {
		top: 47%;
		left: -272px;
	}
	.billbord {
		background-position: right 28% center;
	}
	.contacts .block-form {
		padding-left: 23px;
		padding-right: 23px;
	}
	.block-form .title-text span {
    font-size: 17px;
}
.item-contact {
    font-size: 16px;
    line-height: 27px;
    }
    .nav-article {
    padding: 30px;
    font-size: 16px;
}
.article .title-section {
	padding-bottom: 25px;
}
.item-article__content {
	padding: 20px 15px;
}
.item-article__title {
    font-size: 18px;
    margin-bottom: 16px;
    }
    .images-article img {
    	max-width: 48%;
    }
    .income_about .special-income {
    	line-height: 28px;
    }
    .income_about .special-income span {
    	margin-bottom: 10px;
    }
    .sertificat-about {
    max-width: 255px;
    margin-left: 25px;
}
.income_about .title-section {
    margin-bottom: 30px;
    }
    .about-info {
    font-size: 19px;
    line-height: 29px;
    padding: 30px 50px;
    margin-top: 45px;
    margin-bottom: 58px;
}
.row_big > div {
	padding: 0 15px;
}
.row_big {
	margin: 0 -15px;
}
.title-block {
    font-size: 20px;
    line-height: 28px;
    }
    .title-small {
    font-size: 16px;
    line-height: 26px;
}
.about-image {
    margin-bottom: 40px;
}
.delivery-block__image img {
	max-width: 500px;
}
.delivery-block {
    font-size: 20px;
    line-height: 30px;
}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.menu a {
		font-size: 13px;
	}
	.menu {
		padding: 0 5px;
	}
	.search-form {
		width: 200px;
	}
	.list-page li {
		margin-bottom: 5px;
	}
	.title-section strong {
		font-size: 30px;
	}
	.title-section {
		font-size: 26px;
		line-height: 35px;
	}
	.billbord .title-section {
		padding-top: 12px;
		margin-bottom: 12px;
	}
	.billbord .list-page {
		padding-bottom: 12px;
	}
	.list-page {
		line-height: 22px;
	}
	.video-main__cirle1, .video-main__cirle2, .video-main__image {
		transform: scale(0.7);
	}
	.video-main__cirle1, .video-main__cirle2 {
		transform-origin: -20% 49%;
	}
	.billbord {
		background-position: right 18% center;
	}
.nav-article {
    padding: 19px;
    font-size: 14px;
}
.income_about .special-income {
	max-width: 300px;
	margin-top: 0;
	margin-bottom: 0;
}
.sertificat-about {
    max-width: 315px;
    }
.income__about-right {
	padding-left: 0;
	display: flex;
}
.income_about .special-income {
	padding-top: 70px;
}
.about-info__title {
    font-size: 25px;
    line-height: 32px;
    }
    .about-info {
    font-size: 16px;
    line-height: 23px;
    padding: 30px 30px;
    margin-top: 40px;
    margin-bottom: 29px;
}
.text-about {
    font-size: 16px;
    line-height: 26px;
}
.about-image {
    margin-bottom: 30px;
}
.about-page {
    padding-top: 40px;
    padding-bottom: 40px;
}
.delivery-block__image {
	right: 23px;
}
.delivery-block {
    font-size: 18px;
    line-height: 26px;
    padding: 40px 20px;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header-bottom,
	.header-top	.header-contact,
	.header-top .dropdown-location {
		display: none;
	}
	.billbord {
		padding-top: 90px;
		padding-bottom: 40px;
		height: initial;
	}
	.billbord .title-section {
		max-width: 500px;
	}
	.video-main {
		display: none;
	}
	.image-about,
	.image-circle {
		display: none;
	}
	.special-about {
		padding: 30px 30px;
		max-width: 100%;
		margin-bottom: 20px;
		min-height: initial;
		background-image: none;
		background-color: #f6871f;
		background-image: linear-gradient(174.0deg, #f6871f 2%, #f6871f 10%, #feb500 97%);
	}
	.about .row_about {
		margin: 0 -15px;
	}
	.about {
		padding: 40px 0;
	}
	.categories {
		padding-top: 45px;
		padding-bottom: 50px;
	}
	.item-category__name,
	.col-lg-3 .item-category__name {
		max-width: 80%;
	}
	.presentation__image {
		position: absolute;
		bottom: 0;
		left: 70%;
	}
	.presentation__image img {
		max-width: 400px;
	}
	.block-form {
		position: relative;
		z-index: 1;
	}
	.structure__left {
		padding: 0;
		margin: 0;
	}
	.structure .title-section {
		margin-bottom: 0;
	}
	.structure .title-text {
		margin-bottom: 25px;
	}
	.item-structure {
		margin-bottom: 20px;
		position: relative;
		z-index: 2;
	}
	.image-structure {
		margin-top: 70px;
	}
	.structure {
		padding-top: 45px;
		padding-bottom: 30px;
	}
	.catalog-offer .title-section {
		padding-bottom: 0;
	}
	.catalog-offer {
		padding-top: 45px;
		padding-bottom: 55px;
	}
	.title-text {
		font-size: 17px;
		line-height: 25px;
	}
	.client-category {
		margin-bottom: 25px;
	}
	.client-category__name {
		font-size: 17px;
		left: 25px;
		right: 25px;
		bottom: 20px;
	}
	.income {
		padding-top: 40px;
		padding-bottom: 30px;
	}
	.image-income {
		display: none;
	}
	.special-income {
		padding: 30px 30px;
		width: 100%;
		margin-bottom: 25px;
		background-image: none;
		background-color: #3cb64a;
	}
	.income .block-form_page {
		margin: 0;
	}
	.block-form_page .btn-main {
		width: 100%;
	}
	.col-btn {
		width: 100%;
	}
	.block-form_page .checkbox {
		margin-top: 20px;
	}
	.text-main p {
		margin-bottom: 15px;
	}
	.advantages .row_about > div {
		padding: 0 15px;
		margin-bottom: 25px;
	}
	.advantages .row_about {
		margin: 0 -15px;
	}
	.advantages .title-section {
		background-position: 25px;
	}
	.advantages {
		padding-top: 40px;
		padding-bottom: 25px;
	}
	.faq .title-section {
		padding-bottom: 25px;
	}
	.faq {
		padding-top: 35px;
		padding-bottom: 50px;
	}
	.faq .block-form_main {
		float: none;
		width: 100%;
		max-width: 100%;
	}
	.footer .logo-descr {
		margin-bottom: 15px;
	}
	.footer__content {
		padding-top: 15px;
		display: none;
	}
	.footer__nav li {
		margin-bottom: 15px;
	}
	.footer__nav_big a, .footer__title,
	.footer__nav_big li {
		margin: 0;
	}
	.footer__nav_big a, .footer__title {
		padding: 15px 0;
		display: flex;
		align-items: center;
		border-bottom: 1px solid #00210c;
		justify-content: space-between;
	}
	.footer .social-list {
		margin-bottom: 20px;
	}
	.footer-bottom {
		text-align: center;
		border: none;
	}
	.footer-bottom .row > div {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.btn_top {
		float: none;
	}
	.footer__title i {
		display: inline-block;
		transition: all 0.3s;
	}
	.footer__title.active i {
		transform: rotate(180deg);
	}
	.btn_nav {
		margin-left: 15px;
		display: inline-block;
	}
	.header-right {
		margin-left: auto;
	}
	.btn-basket {
    width: 36px;
    height: 36px;
    font-size: 15px;
}
.btn-basket__value {
    font-size: 9px;
    width: 14px;
    height: 14px;
    top: 1px;
    right: 1px;
    }
     .menu-mobile {
  	position: absolute;
  	top: 100%;
  	left: 0;
  	width: 100%;
  	background-color: #fff;
  	height: 100vh;
  	overflow: auto;
  	padding: 20px 15px;
  	padding-bottom: 100px;
  	display: none;
  	border-top: 1px solid #ddd;
  }
  .menu {
  	margin-bottom: 15px;
  	display: block;
  }
  .dropdown-location {
  	margin-bottom: 15px;
  }
  .header .logo img {
  	max-width: 55px;
  }
  .search-form {
  	width: 100%;
  	margin-bottom: 15px;
  }
  .menu a {
  	padding: 10px 0;
  	border-bottom: 1px solid #ddd;
  	display: block;
  }
  .header-right__contacts a:not(.phone-main) {
  	display: none;
  }
  .phone-main {
    font-size: 13px;
    line-height: 18px;
}
.header-right__contacts p {
    margin-bottom: 0;
}
.dropdown-location__content {
	visibility: visible;
	opacity: 1;
	position: relative;
	transition: none;
	box-shadow: none;
	width: 100%;
	display: none;
	padding: 0;
	margin-left: -36px;
}
.dropdown-location__content li {
	padding: 10px 0;
	margin: 0;
	border-bottom: 1px solid #ddd;
}
.header.nav-up {
    transform: translateY(-67px);
}
.contacts {
	padding-top: 20px;
}
.wrapper_page  {
	padding-top: 67px;
}
.contacts .title-section {
	padding-bottom: 20px;
}
.nav-article {
	margin-bottom: 20px;
}
.income__about-right {
	padding-top: 20px;
	justify-content: space-between;
}
.income_about .block-form {
	margin: 0 auto;
}
.about-page .about-text {
	padding-bottom: 15px;
}
.about-page .row_about {
	margin-top: 20px;
	margin-right: -15px;
	margin-bottom: 15px;
}
.about-page .image-structure {
	margin-bottom: 20px;
}
.about-info {
	margin-left: 0;
	margin-top: 25px;
}
.delivery-block__image {
	top: 100%;
	margin-top: 20px;
	right: 0;
	width: 100%;
}
.delivery-block__image img {
	margin: 0 auto;
}
.delivery {
    padding-bottom: 400px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	/*youtube video inside fancybox*/
	.fancybox-type-iframe .fancybox-inner {
		height: auto !important;
	}
	.fancybox-type-iframe iframe{
		width: calc(100vw - 40px);
		height: calc(100vw/1.77);
	}
	.billbord {
    background-position: right 26% center;
}
.about .descr-section {
    margin-bottom: 25px;
}
.about {
	padding-bottom: 20px;
}
.head-section {
	display: block;
}
.head-section .btn-simple {
	margin-top: 15px;
}
.title-section {
    font-size: 23px;
    line-height: 30px;
}
.title-section strong {
    font-size: 24px;
}
.presentation .title-section {
	padding-bottom: 30px;
}
.presentation__image {
	display: none;
}
.image-structure {
    transform-origin: 50%;
    margin-top: 20px;
}
.structure__left {
	position: relative;
	z-index: 2;
}
.item-structure {
	padding-left: 44px;
}
.item-structure__number {
	left: -10px;
}
.item-question__content {
padding-right: 20px;
padding-left: 20px;
}
.item-question__head {
    height: 85px;
    font-size: 16px;
    padding: 0 20px;
    padding-right: 15px;
    }
    .descr-section {
    font-size: 18px;
}
.header .logo-descr {
	display: none;
}
.header-right__contacts a {
    color: #333;
}
.item-contact {
	margin-bottom: 15px;
}
.contacts .block-form {
	max-width: 100%;
	margin-bottom: 0;
}
#map {
	margin-top: 30px;
	height: 400px;
}
.article time {
    font-size: 12px;
    margin-bottom: 8px;
    }
    .article-content h2 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 15px;
}
.article-content ol li, .article-content p {
    margin-bottom: 15px;
}
.article-content {
    line-height: 22px;
}
.breadcrumbs {
	padding: 15px 0;
	flex-wrap: wrap;
}
.breadcrumbs li::after {
	margin: 0 6px;
}
.income__about-right {
	display: block;
	padding-left: 15px;
}
.income_about .special-income {
	padding: 30px;
	max-width: 100%;
	margin-bottom: 25px;
}
.sertificat-about {
	width: 290px;
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
.income_about .title-section {
    margin-bottom: 48px;
}
.about-page .title-section {
	margin-bottom: 15px;
}
.title-block {
    font-size: 18px;
    line-height: 26px;
}
.title-small {
    font-size: 15px;
    line-height: 24px;
}
.about-image {
	position: relative;
	z-index: 2;
}
.delivery-block {
    font-size: 16px;
    line-height: 25px;
    padding: 30px 20px;
}
.delivery .title-section {
    padding-bottom: 20px;
}
.delivery-block__image img {
    max-width: 392px;
}
.delivery {
    padding-bottom: 325px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

.item-category__image {
    height: 300px;
}
.item-category__name {
    font-size: 16px;
    height: 82px;
    margin-top: -35px;
}
.item-category__name, .col-lg-3 .item-category__name {
    max-width: 90%;
}
.row_categories > div {
    margin-top: 25px;
}
.block-form {
	padding: 25px;
}
.block-form .btn-main {
    margin-top: 5px;
    }
    .presentation {
    padding-top: 40px;
    padding-bottom: 40px;
}
.image-structure {
	margin: 40px auto;
	width: 320px;
    height: 320px;
    transform: none;
}
.image-structure img {
	max-width: 300px;
}
.number-structure {
    font-size: 18px;
    line-height: 26px;
    width: 42px;
    height: 42px;
    }
    .number-structure_1 {
    top: 23px;
    right: 25px;
}
.number-structure_2 {
    top: 88px;
    right: 98px;
}
.number-structure_3 {
    bottom: 41px;
    right: 59px;
}
.number-structure_4 {
    bottom: 80px;
    left: 11px;
}
.catalog-offer {
    padding-top: 35px;
    padding-bottom: 45px;
}
.row_catalog > div {
    margin-top: 25px;
}
.item-catalog__image {
    height: 218px;
}
.item-catalog__name {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}
.price-main {
    font-size: 22px;
    line-height: 27px;
    }
    .price-old {
    font-size: 16px;
    line-height: 28px;
    margin-right: 25px;
}
.item-catalog .btn-main {
    flex: 1;
    height: 50px;
    font-size: 13px;
    padding: 0 7px;
    margin: 0 4px;
}
.categories-clients {
	padding-top: 35px;
}
.advantages .title-section {
    padding-bottom: 24px;
}
#map {
	height: 360px;
}
.block-form .title-text span {
    font-size: 15px;
}
.article-content ol li {
	padding-left: 40px;
}
.article-content ol li::before {
    width: 35px;
    height: 35px;
    font-size: 18px;
    }
    .about-page .image-structure {
    margin-bottom: 35px;
}
.text-about {
    font-size: 15px;
    line-height: 22px;
}
.about-image {
	margin-bottom: 20px;
}
.about-info {
    font-size: 14px;
    line-height: 21px;
    padding: 25px 15px;
    }
    .about-info__title {
    font-size: 21px;
    line-height: 27px;
}
.delivery-block__image {
	display: flex;
	justify-content: center;
}
.delivery-block__image img {
    max-width: 335px;
    align-self: start;
}
.delivery {
    padding-bottom: 290px;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
.footer__content {
	display: block !important;
}
	 .menu-mobile {
	display: none !important;
}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media only screen and (min-width : 1300px) {
	.container {
		max-width: 1300px;
	}
}
@media only screen and (min-width : 1420px) {
	.container {
		max-width: 1400px;
	}
}
@media (min-width: 1550px) {
	.container {
		max-width: 1490px;
	}
}
@media (min-width: 1600px) {
	.container {
		max-width: 1490px;
	}
}